<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="link3_part1">
    <visual>
      <geometry>
        <cylinder length="0.03" radius="0.03"/>
      </geometry>
      <origin xyz="-0.015 0 0" rpy="0 1.57075 0"/>
      <material name="orange"/>
    </visual>
  </link>

  <joint name="link3_fixed1" type="fixed">
    <parent link="link3_part1"/>
    <child link="link3_part2"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="link3_part2">
    <visual>
      <geometry>
        <box size="0.02 0.03 0.13483"/>
      </geometry>
      <origin xyz="-0.01 0 0.067415" rpy="0 0 0"/>
      <material name="orange"/>
    </visual>
  </link>

  <joint name="link3_fixed2" type="fixed">
    <parent link="link3_part2"/>
    <child link="link3_part3"/>
    <origin xyz="0 0 0.13483" rpy="0 0 0"/>
  </joint>

  <link name="link3_part3">
    <visual>
      <geometry>
        <cylinder length="0.02" radius="0.025"/>
      </geometry>
      <origin xyz="-0.01 0 0" rpy="0 1.57075 0"/>
      <material name="orange"/>
    </visual>
  </link>
</robot>